<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="card bg-primary text-white text-center p-3">
        <h1 class="display-4">ALLY</h1>
        <blockquote class="blockquote mb-0">
          <h4 class="font-italic">noun:</h4>
          <p>One that is associated with another as a helper; a person or group that
            provides assistance and support in an ongoing effort, activity, or struggle.
          </p>
          <h4 class="font-italic">verb:</h4>
          <p>To unite or form a connection or relation between; associate.
          </p>
          <footer class="blockquote-footer text-white">
            <small>
              <cite title="Source Title">Merriam-Webster</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <h3>Be an ally, take action now!</h3>
    </div>
  </div>
  <div class="container blog">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/cms">Request Help</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/authors">Log-In</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
  </div>