<div id="home">
  <img src="./img/fists.png" alt="fists" id="fists"/>
    <br>
    <br>
    <div class="main container">
        <div class="mission-statement">
            <h2>The mission of Ally App is to promote the well-being of communities by connecting organizations and individuals in combating racial inequalities and prejudice and by providing organizations and individuals with resources to protect themselves and their loved ones.</h2>
        </div>
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" data-pause="false">
                    <a href="https://www.dosomething.org/us/articles/explained-the-protests-for-racial-justice">
                        <img src="https://images.ctfassets.net/81iqaqpfd8fy/g7KjlSrChrhb00qWuPMcV/343278c4428f0a39f7dfe543b5201e2a/rapid_response_editorial_header.png?h=620&w=1440" 
                            alt="protest" class="media-img">
                        <div class="carousel-caption text-white">
                            <h3>EXPLAINED: THE PROTESTS FOR RACIAL JUSTICE</h3>
                            <p>What’s happening and, more importantly, why.</p>
                        </div>
                    </a>
                </div>
        
                <div class="carousel-item">
                    <a href="https://www.dosomething.org/us/articles/black-lives-taken">
                        <img src="https://images.ctfassets.net/81iqaqpfd8fy/1SDBDhULfP8y6LQdYyzc39/1cb2faca5c538a63f3d868000df21824/rapid_response-05.png?h=620&w=1440"
                            alt="Black Deaths" class="media-img">
                        <div class="carousel-caption text-white">
                            <h3>BLACK LIVES TAKEN: GEORGE FLOYD, BREONNA TAYLOR, AND AHMAUD ARBERY</h3>
                            <p>What's happening and what you can do.</p>
                        </div>
                    </a>
                </div>
            
                <div class="carousel-item">
                    <a href="https://www.dosomething.org/us/facts/11-facts-about-racial-discrimination">
                        <img src="https://images.ctfassets.net/81iqaqpfd8fy/73DcCVqNGrT1Gg5msXU2zk/50285a84c2b177107bdc53d674afc06c/GettyImages-1042424400.jpg?h=620&w=1440"
                            alt="Black Teen" class="media-img">
                        <div class="carousel-caption text-white">
                            <h3>11 FACTS ABOUT RACIAL DISCRIMINATION</h3>
                            <p>And what you can do about it.</p>
                        </div>
                    </a>
                </div>
        
                <div class="carousel-item">
                    <a href="https://www.deseret.com/opinion/2020/6/13/21289587/black-lives-matter-protests-racism-children-resources">
                        <img src="https://cdn.vox-cdn.com/thumbor/2UrFxUIzm1oTuM8kh0kg-W-WOxA=/0x0:4100x2795/920x613/filters:focal(1722x1070:2378x1726):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/66930814/BLM_Protest_0610_ja_0437.0.jpg" 
                            alt="Utah Protest" class="media-img">
                        <div class="carousel-caption text-white">
                            <h3>Opinion: Parents shouldn’t shy away from discussing racism with their children</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
