<form id="login" name="login" method="post" action="/users/login">
        <label for="username">username</label>
        <input class="text" name="username" type="text" />
        <label for="passHash">Password</label>
        <input name="passHash" type="password" />
        <input class="btn" type="submit" value="Login" />
    </form>