<!-- Default form login -->
<div class="w-25 m-auto">
    <h1 class="text-center login-header mb-5 mt-5 text-body"><strong>Login</strong></h1>
    <form class="text-center login-form border border-light p-5 mb-5" id="login" name="login" method="post" action="/users/login">

        <!-- Username -->
        <input type="username" id="username" name="username" class="form-control mb-4" placeholder="Username">

        <!-- Password -->
        <input type="password" id="passHash" name="passHash" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label pt-1" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn login-btn btn-block my-4" type="submit">Login</button>

        <!-- Register -->
        <p>Not a member?
            <a href="/users/register">Register</a>
        </p>

    </form>
</div>
