    <!-- Default form new message -->
<div class="w-50 m-auto">
<form class="text-center border border-light p-5" id="compose" name="compose" method="post" action="/messages/compose">

    <p class="h4 mb-4">Send New Message</p>
    <!-- Body of Message -->
    <textarea rows="15" id="body" name="body" class="form-control mb-4" placeholder="Your Message"></textarea>

    <input type="textfield" id="fromid" name="fromid" />
    <input type="textfield" id="toid" name="toid" value={{toid}} />
    <input type="textfield" id="helpid" name="helpid" value={{helpid}} />
    <input type="textfield" id="parentid" name="parentid" value={{parentid}} />

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Send</button>

</form>


</div>