<form id="register" name="register" method="post" action="/users/register">
        <label for="username">username</label>
        <input class="text" name="username" type="username" />
        <label for="passHash">Password</label>
        <input name="passHash" type="password" />
        <input class="btn" type="submit" value="Register" />
    </form>