.list-group-item {
  line-height: 2.5;
}
body {
  background-color: white;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
#logo {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
}
h4 {line-height: 0.8;}

/*======================================Navbar/Header styling======================================*/
.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
a:hover {
  border-bottom: solid;
  border-bottom-color: rgb(83, 191, 230);
}
/* Style the "active" element to highlight the current page */
.navbar a.active {
  font-style: bold;
}
/* Style the search box inside the navigation bar */
.navbar .search-container {
  float: right;
  position: absolute;
}
.nav-link {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#fists {
  width: 100%;
}

/*====================================== HOME page styling====================================== */
.media-img {
  width: 100%;
  margin: auto;
  text-align: center;
}
#myCarousel {
  margin-bottom: 100px;
}
#myCarousel h3 {
  font-size: 28pt;
  text-shadow: .5px .5px grey;
}
.mission-statement h2 {
  font-size: 35pt;
}
.carousel-caption {
  color: rgb(255, 255, 155);
  /* color: rgb(190, 237, 254); */
  font-style: bold;
}
/*====================================== LIBRARY page styling====================================== */
.library h1 {
  font-size: 40pt;
}
.lib-btn {
  font-size: 10pt;
  background-color: rgb(242, 242, 242);
  box-shadow: .5px .5px rgb(9, 89, 118);
  color: black;
  min-height: 50px;
  width: 100%;
}
#filter-menu button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(83, 191, 230);
}
.filterDiv {
  display: none;
  float: left;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.filterDiv .item img {
  margin-bottom: 10px;
  max-width: 100%;
}
.filterDiv .item {
  background-color: rgb(242, 242, 242);
  box-shadow: .5px .5px rgb(9, 89, 118);  padding: 15px;
  border: none;
  border-radius: 5%;
  width: 100%;
  height: max-content;
  float: left;
}
.filterDiv a {
  text-decoration: none;
  font-size: 17px;
  color: darkgray;
}

/*====================================== NEED HELP page styling====================================== */
.card-header button.connect {
  float: right;
  margin: 5px;
}

.ally-box {
  background-color: rgb(253, 232, 208);
  border: none;
  padding: 30px 180px 50px 180px;
}

.ally {
  margin-bottom: 30px;
}

.needhelp-box {
  margin: 30px;
}

.help-btn {
  margin: 0 auto;
  font-size: 13pt;
  background-color: #ddd;
  min-height: 80px;
  margin-bottom: 50px;
  width: 300px;
}


form .error {
    color: red;
}

form input.error {
  border: 1px solid red;
}

/*====================================== Responsive Styling ====================================== */
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
/* @media screen and (max-width: 600px) { */

/* ======================================== Login Page Styling ====================================== */
.login-header {
  font-size: 40pt;
}

.login-form {
  font-size: 10pt;
  background-color: rgb(242, 242, 242);
  box-shadow: .5px .5px rgb(9, 89, 118);
  color: black;
  width: 100%;
  border-radius: 10px;
}

.login-btn {
  background-color: rgb(83, 191, 230);
  color: white;
}

/* ========================================== Register Page Styling ==================================== */
.register-header {
  font-size: 40pt;
}

.register-form {
  font-size: 10pt;
  background-color: rgb(242, 242, 242);
  box-shadow: .5px .5px rgb(9, 89, 118);
  color: black;
  width: 100%;
  border-radius: 10px;
}

.register-btn {
  background-color: rgb(83, 191, 230);
  color: white;
}
