.list-group-item {
  line-height: 2.5;
}
body {
  background-color: whitesmoke;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
#logo {
  font-family: 'Montserrat', sans-serif;
}
h4 {line-height: 0.8;}
/*======================================Navbar/Header styling======================================*/
/* actually only need this image on the home page
  header {
  background-image: url(../img/fists.png);
  
} */

.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
}
a:hover {
  border-bottom: solid;
  border-bottom-color: gray;
}
/* Style the "active" element to highlight the current page */
.navbar a.active {
  color: black;
  font-style: bold;
}
/* Style the search box inside the navigation bar */
.navbar .search-container {
  float: right;
  position: absolute;
  
}
.navbar input[type=text] {
  /* float: right; */
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 25%;
  border: none;
  width: 120px;
}
.nav-link {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
button {
  box-sizing: content-box;
  margin-top: 6px;
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px; 
  background: #ddd;
  border: none;
  cursor: pointer;
}
.user-avatar-div {
  box-sizing: content-box;
  background-color: gray;
  position: relative;
  padding-left: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px; 
}
/*====================================== END Navbar/Header styling======================================*/

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navbar a, .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;
  }
}
