.list-group-item {
  line-height: 2.5;
}
body {
  background-color: white;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
#logo {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
}
h4 {line-height: 0.8;}
/*======================================Navbar/Header styling======================================*/
/* actually only need this image on the home page
  header {
  background-image: url(../img/fists.png);
  
} */

.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
}
a:hover {
  border-bottom: solid;
  border-bottom-color: rgb(253, 232, 208);
}
/* Style the "active" element to highlight the current page */
.navbar a.active {
  color: black;
  font-style: bold;
}
/* Style the search box inside the navigation bar */
.navbar .search-container {
  float: right;
  position: absolute;
  
}
.navbar input[type=text] {
  /* float: right; */
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 25%;
  border: none;
  width: 120px;
}
.nav-link {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#search-button {
  box-sizing: content-box;
  margin-top: 6px;
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px; 
  background: #ddd;
  border: none;
  cursor: pointer;
}
.user-avatar-div {
  box-sizing: content-box;
  background-color: rgb(253, 232, 208);
  position: relative;
  padding-left: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px; 
}
#fists {
  width: 100%;
}
/*====================================== HOME page styling====================================== */
.media-img {
  width: 100%;
  margin: auto;
  text-align: center;
}
#myCarousel {
  margin-bottom: 100px;
}
#myCarousel h3 {
  font-size: 28pt;
  text-shadow: 2px 2px grey;
}
.mission-statement h2 {
  font-size: 40pt;
}
.carousel-caption {
  color: rgb(253, 232, 208);
}
/*====================================== LIBRARY page styling====================================== */
.library h1 {
  font-size: 40pt;
}
.lib-btn {
  font-size: 13pt;
  background-color: #ddd;
  min-height: 80px;
  width: 100%;
}
#filter-menu button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(253, 232, 208);
}
.filterDiv {
  display: none;
  float: left;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.filterDiv .item img {
  margin-bottom: 10px;
  max-width: 100%;
}
.filterDiv .item {
  background-color: whitesmoke;
  padding: 15px;
  border: none;
  border-radius: 5%;
  width: 100%;
  height: max-content;
  float: left;
}
.filterDiv a {
  text-decoration: none;
  font-size: 17px;
  color: darkgray;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navbar a, .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;
  }
}

/*====================================== NEED HELP page styling====================================== */
.card-header button.connect {
  float: right;
  margin: 5px;
}

.ally-box {
  background-color: rgb(253, 232, 208);
  border: none;
  padding: 30px 180px 50px 180px;
}

.ally {
  margin-bottom: 30px;
}

.needhelp-box {
  margin: 30px;
}

.help-btn {
  margin: 0 auto;
  font-size: 13pt;
  background-color: #ddd;
  min-height: 80px;
  margin-bottom: 50px;
  width: 300px;
}


form .error {
    color: red;
}

form input.error {
  border: 1px solid red;
}
