.list-group-item {
  line-height: 2.5;
}
body {
  background-color: ghostwhite;
}
/*======================================Navbar/Header styling======================================*/
/* actually only need this image on the home page
  header {
  background-image: url(../img/fists.png);
  font-family: 'Montserrat', sans-serif;
} */
.navbar {
  overflow: hidden;
  background-color: #e9e9e9;
}
.navbar a {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  border-bottom: solid;
  border-bottom-color: gray;
}
/* Style the "active" element to highlight the current page */
.navbar a.active {
  color: black;
  font-style: bold;
}
.topnav .search-container {
  float: right;
}
/* Style the search box inside the navigation bar */
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  border-radius: 20%;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.user-avatar {
  background-size: 32px 32px;
  border: 0;
  border-radius: 50%;
  display: block;
  margin: 0;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
  background-color: white;
}
/*====================================== END Navbar/Header styling======================================*/

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navbar a, .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;
  }
}
